
@media screen and (min-width: 2001px) {
    .products__item:nth-child(2n) {
        margin-right: 1.5rem;
    }
    .products__item:nth-child(5n) {
        margin-right: 0;
    }
    .products__item:nth-child(3n) {
        margin-right: 1.5rem;
    }
    .products__item:nth-child(4n) {
        margin-right: 1.5rem !important;
    }
}
@media screen and (min-width: 1683px) {
    .products__item:nth-child(3n) {
        margin-right: 1.5rem;
    }
    .products__item:nth-child(4n) {
        margin-right: 0;
    }
}
@media screen and (min-width: 1570px) {
    .privision .row:last-child .col-4 {
        margin-right: 2rem;
    }
    .privision__box-item {
        padding-top: 3rem;
    }
}
@media screen and (max-width: 1364px) {
    .products__item {
        width: 258px;
    }
    .products__item .card-img-top {
        width: 258px;
        height: 258px;
    }
}    
@media screen and (max-width: 1250px) {
    .img-our-product__group {
        transform: scale(0.9);
        transform-origin: top left;
    }
    .products__item {
        width: 235px;
    }
    .products__item .card-img-top {
        width: 235px;
        height: 235px;
    }
    .product__detail-desc p {
        line-height: 1.25;
    }
}
@media screen and (max-width: 1180px) {
    .products__item {
        width: 215px;
    }
    .products__item .card-img-top {
        width: 215px;
        height: 215px;
    }
    .products__box {
        overflow-y: auto;
    }
}
@media screen and (max-width: 1150px) {
    .common-footer__box {
        padding: 50px 10rem;
    }
    .img-our-product__group {
        transform: scale(0.8);
        transform-origin: top left;
    }
    .our-product > div > .row:first-child {
        padding-top: 2rem;
    }
    .our-product > div > .row:last-child {
        padding-bottom: 0;
    }
    .footer__copyright > div {
        padding: 0 4rem 0 10rem;
    }
    .privision .row:last-child .col-4:not(:nth-child(3n)) {
        margin-right: unset;
    }
    .privision .row:last-child .col-4:not(:nth-child(2n)) {
        margin-right: 2rem;
    }
    .privision__box-item:not(:nth-child(n+4)) {
        margin-bottom: 2rem;
    }
    .privision__box-item {
        padding-top: 2rem;
    }
    .privision {
        padding: 4rem 1rem;
        margin: 0 auto;
    }
    .products__item {
        width: 297px;
    }
    .products__item .card-img-top {
        width: 297px;
        height: 297px;
    }
    .products__item:nth-child(3n) {
        margin-right: 1.5rem;
    }
    .products__item:nth-child(4n) {
        margin-right: 1.5rem;
    }
    .products__item:nth-child(2n) {
        margin-right: 0;
    }
}
@media screen and (max-width: 1050px) {
    .products__item {
        width: 258px;
    }
    .products__item .card-img-top {
        width: 258px;
        height: 258px;
    }
}
@media screen and (max-width: 1024px) {
    .footer__copyright {
        padding: 2rem 4rem;
    }
    .common-footer__box {
        padding: 50px 4rem;
    }
    .contact-us__box {
        padding: 1rem 4rem !important;
    }
    .about-us {
        padding: 4rem !important;
    }
    .privision {
        padding: 4rem !important;
    }
    .gallery {
        padding: 4rem !important;
    }
    .our-product__box {
        padding: 1rem 3rem !important;
    }
    .location__box {
        padding: 125px 3rem !important;
    }
    .footer__copyright > div {
        padding: 0 4rem 0 0rem;
    }
    .privision__box-item {
        padding-top: 2.5rem;
    }
}
@media screen and (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
    .nav-item-flag {
        border-left: none;
        border-top: 1px solid black;
        width: 100px;
    }
    .navbar-text {
        padding-top: 0; 
        padding-bottom: 0;
    }
    .navbar>.container-fluid {
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .footer__copyright {
        font-size: 14px;
    }
    .img-our-product__group {
        transform: scale(0.7);
        transform-origin: top left;
    }
    .our-product > div > .row:last-child > * {
        height: calc(442px*0.8);
    }
    .privision__box-item {
        padding-top: 2rem;
    }
    .products__item {
        width: 235px;
    }
    .products__item .card-img-top {
        width: 235px;
        height: 235px;
    }
    .product__detail-box {
        flex-direction: column;
    }
    .product__detail-content {
        padding: 3rem 0 0 0;
    }
}
@media screen and (max-width: 923px) {
    .products__item {
        width: 215px;
    }
    .products__item .card-img-top {
        width: 215px;
        height: 215px;
    }
}
@media screen and (max-width: 883px) {
    .products__item {
        width: 297px;
    }
    .products__item .card-img-top {
        width: 297px;
        height: 297px;
    }
}
@media screen and (max-width: 850px) {
    .product-category {
        width: 210px;
        overflow: auto;
        max-height: 670px;
    }
    .products__box {
        width: calc(100% - 210px) !important;
        height: 670px;
    }
    .products__item {
        margin-right: 0;
    }
}
@media screen and (max-width: 810px) {
    .img-our-product__group {
        transform: scale(0.6);
        transform-origin: top left;
    }
}
@media screen and (max-width: 768px) {
    .firstview__box {
        padding: 0 1rem;
    }
    .firstview__box h1 {
        font-size: 2.5rem;
    }
    .common-button {
        height: 50px;
        font-size: 16px;
    }
    .menu-content-main-link {
        flex-direction: column;
    }
    .menu-content-main-link__box {
        margin-bottom: 2rem;
    }
    .menu-content-main-link__box:last-child {
        margin-bottom: 0;
    }
    .common-footer__box {
        padding: 20px 4rem 50px 4rem !important;
    }
    .img-our-product__group {
        transform: scale(0.55);
        transform-origin: top left;
    }
    .our-product > div > .row:last-child > * {
        height: calc(442px*0.7);
    }
}
@media screen and (max-width: 738px) {
    .products__filter .btn-group {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 658px) {
    .img-our-product__group {
        transform: scale(0.45);
        transform-origin: top left;
    }
    .our-product > div > .row:last-child > * {
        height: calc(442px*0.6);
    }
    .privision__box-item {
        font-size: 14px;
        max-height: 354px;
    }
    .privision h5 {
        font-size: 1rem;
        padding: 1.5rem;
    }
    .privision img {
        width: 51px;
        height: 51px;
    }
    .privision p {
        line-height: 1.3;
    }
    .privision__box-item:not(:nth-child(n+4)) {
        margin-bottom: 1.5rem;
    }
    .privision .row:last-child .col-4:not(:nth-child(2n)) {
        margin-right: 1.5rem;
    }
    .product-category {
        width: 175px;
        overflow: auto;
        max-height: 707px;
    }
    .products__box {
        width: calc(100% - 175px) !important;
        height: 707px;
    }
}
@media screen and (max-width: 591px) {
    .navbar-sosial-media .container-fluid {
        justify-content: end;
    }
    .navbar-sosial-media .container-fluid .navbar-text:first-child {
        display: none;
    }
    .products__item .card-img-top {
        width: 258px;
        height: 258px;
    }
    .products__item {
        width: 258px;
    }
}
@media screen and (max-width: 574px) {
    .about-us > .row:first-child > div:last-child {
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .about-us > .row:last-child > div:first-child {
        padding-left: 1rem;
        padding-right: 0;
        padding-bottom: 2rem;
    }
    .about-us .row:first-child {
        margin-bottom: 3rem;
    }
    .img-our-product__group {
        transform: scale(0.45);
        transform-origin: top left;
        width: 931px;
        flex-wrap: wrap;
    }
    .our-product > div > .row:last-child > * {
        height: calc(442px*1);
    }
    .img-our-product__group > .col {
        margin-top: 2rem;
    }
    .privision__box-item:not(:nth-child(n+4)) {
        margin-bottom: 0;
    }
    .privision .row:last-child .col-4:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .privision p {
        overflow: auto;
    }
}
@media screen and (max-width: 560px) {
    .firstview__box {
        max-width: 425px;
        padding: 0 1.5rem;
    }
    .footer__copyright {
        font-size: 14px !important;
    }
    .contact-us {
        max-height: 600px;
    }
    .products__item .card-img-top {
        width: 235px;
        height: 235px;
    }
    .products__item {
        width: 235px;
    }
}
@media screen and (min-width: 529px) {
    .product-category .nav {
        flex-direction: column;
    }
}
@media screen and (max-width: 528px) {
    .products__item .card-img-top {
        width: 215px;
        height: 215px;
    }
    .products__item {
        width: 215px;
    }
    .products {
        flex-direction: column;
    }
    .product-category {
        width: 100%;
    }
    .product-category .nav {
        max-height: 250px;
        overflow-y: auto;
    }
    .products__box {
        width: 100% !important;
        height: auto;
    }
    .products__item .card-img-top {
        width: 297px;
        height: 297px;
    }
    .products__item {
        width: 297px;
    }
}
@media screen and (max-width: 485px) {
    .contact-us__button > * {
        margin-right: .5rem;
    }
    .contact-us__button {
        justify-content: flex-start;
        flex-direction: column;
    }
    .common-button {
        margin-top: 1rem;
    }
    .img-our-product__group {
        transform: scale(0.45);
        transform-origin: top left;
        width: 648px;
        flex-wrap: wrap;
    }
    .img-our-product__group > .col:nth-child(3) > div {
        width: 100%;
    }
    .img-our-product__group > .col:nth-child(4) > div {
        width: 100%;
    }
    .img-our-product__group > .col {
        margin-right: 2rem;
    }
    .img-our-product#egg a.layer,
    .img-our-product#seafood a.layer,
    .img-our-product#coffe a.layer {
        background-size: cover;
    }
    .privision .row:last-child {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .privision__box-item {
        min-width: 300px;
        margin-bottom: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
        max-height: 253px;
    }
    .privision .row:last-child .col-4 {
        min-width: 300px;
        margin: 0 auto;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .privision img {
        width: 70px;
        height: 70px;
    }
}